
@import url("https //fonts.googleapis.com/css2? family=poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
  margin: 0;
  padding: 0;
  font-family: "Aldrich", sans-serif;
  box-sizing: border-box;
}
:root {
  --blue: #00a9de;
  --lblue: #88e2fc;
  --black: #001e26;
  --dblue: #12343b;
  --lblack: #182628;
}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700
.teko-<uniquifier> {
  font-family: "Aldrich", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.color{
  color: var(--blue);
}
html{
  scroll-behavior: smooth;
}
body {
  background: var(--black);
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.bigbig1{
  padding-top: 50px;
}
.header{
  margin-top: 10px;
  width: 360px;
  height: 70px;
  background-color: rgba(0,0,0,.5);
  backdrop-filter: blur(25px);
  border-radius: 8px;
  padding: ;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
   z-index: 10;
}
.header a{
  position: relative;
  display: inline-block;
  font-size: 0.9em;
  font-weight: 500;
  color: var(--blue);
  text-decoration: none;
  padding: 0 22px;
  z-index: 10;
}
.header a:hover{
  color: var(--black);
  font-weight: 600;
  transition: 0.7s;
}
.header span{
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  background: var(--blue);
  border-radius: 8px;
  transition: 0.7s;
  display: none;
}
.header a:nth-child(1):hover~span{
  left: 0px;
  display: block;
  opacity: 2;
}
.header a:nth-child(2):hover~span{
  left: 95px;
  display: block;
  opacity: 2;
}
.header a:nth-child(3):hover~span{
  left: 190px;
  width: 70px;
  display: block;
  opacity: 2;
}
.header a:nth-child(4):hover~span{
  left: 285px;
  width: 90px;
  display: block;
  opacity: 2;
}

.bigbox {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin-bottom: 60px;
  justify-content: space-around;
  align-items: center;
}
.div {
  width: 360px;
  height: 380px;
  border: p solid var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}
.pdiv{
  background-color: var(--black);
  margin: 10px;
  width: 360px;
  height: auto;
  background-color: var(--);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  border-width: 1px; /* Adjust border width as needed */
  border-width: 1px; /* Adjust border width as needed */
  border-style: solid;
  border-image: 
    linear-gradient(to right, var(--blue) 8%, var(--black) 8%, var(--black) 92%, var(--blue) 92%) 1;
  border-image-slice: 1; 
}
.contact2{
  width: 100%;
  background-color: rgba(0,0,0,.3);
  backdrop-filter: blur(25px);
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  border: 1px solid var(--blue);
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bold{
  text-align: center;
  color: var(--blue);
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
}

.intro h2{
  color: var(--lblue);
  width: 100%;
  text-align: center;
  text-shadow: 0px 0px 3px var(--lblue);
}
.intro1 h2{
  color: var(--lblue);
  width: 100%;
  font-size: 25px;
  margin: 10px;
  text-shadow: 0px 0px 3px var(--lblue);
}

.Contact-inputs{
  background-color: var(--dblue);
  border: none;
  font-size: 16px;
  line-height: 30px;
  width: 80%;
  padding: 10px;
  color: var(--blue);
  outline: none;
  border-radius: 10px;
}
.Contact-inputs:focus{
  border: 1px solid var(--blue);
}
.pdiv p,
.div p{
  line-height: 23px;
  font-size: 14px;
}
.border-container {
  position: relative;
  display: inline-block; /* Ensures container fits content */
}

.dotted-border {
  filter: ;
  position: absolute;
  padding: 25px;
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px dashed  var(--blue);
  animation: rotateBorder 15s linear infinite;
  box-sizing: border-box; /* Ensures border is included in dimensions */
}

.image-container {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.image-container img {
  display: block;
  width: 90%;
  margin: 10px;
  border-radius: 50%;
  height: 90%;
  object-fit: cover;
}

@keyframes rotateBorder {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cert{
  height: 115px;
  transition: 0.4s ease;
}

.cert:hover{
  transform: scale(1.2);
  border: 1px solid var(--blue);
  box-shadow: 0 0 26px var(--black);
  border-radius: 3px;
}
.home1{
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.face{
  z-index: 1;
}

.home2{
  margin: 10px;
  width: 360px;
  height: 210px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 50px;
  background-color: rgba(0,0,0,.3);
  box-shadow: 0 0 25px var(--black);
  border-radius: 6px;
}
.bigbig{
  padding-top: 65px;
}
.right-roter{
  position: fixed;
  top: -20px;
  left: -80px;
  width: 160px;
  height: 160px;
  border: 5px dashed var(--blue);
  background-color:var(--black);
  border-radius: 50%;
  z-index: 2;
  animation: righte 10s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 35px var(--blue);
  filter: blur;
}
@keyframes righte{
  0%,
  50%{
    transform: rotate(0deg);
  }
  51%
  60%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.right-roter1{
  position: fixed;
  width: 160px;
  height: 160px;  
  border: 4px solid var(--blue);
  background-color:transparent;
  border-radius: 50%;
  z-index: 2;
  padding: 11px;
}
.right-roter2{
  position: ;
  width: 130px;
  height: 130px;
  border: 5px dashed  var(--blue);
  
  border-radius: 50%;
  z-index: 6;
  box-shadow: 0 0 35px var(--blue);
}
.face{
  line-height: 20px;
}

.skills-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 360px;
    pading:10px;
}

.skill {
    margin: 10px 0;
    color: var(--blue);
    font-size: 1.1rem;
}
.skill progress{
  color: var(--blue);
}
progress {
    margin: 5px;
    box-shadow: 0 0 10px var(--blue);
    border:2px solid var(--blue);
    width: 310px;  /*Full width */
    height: 13px; /* Height of the progress bar */
    border-radius: 5px; /* Rounded corners */
    background-color: var(--lblack); /* Background color */
}

progress::-webkit-progress-bar {
    background-color: var(--lblack); /* Background color for WebKit browsers */
}

progress::-webkit-progress-value {
    border-right: 2px solid var(--blue);
    background-color: var(--blue); /* Progress color for WebKit browsers */
}

progress::-moz-progress-bar {
    background-color: var(--lblack); /* Progress color for Firefox */
}
 .skills1 {
  width: 360px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding:50px 50px;
}
.intro4{
  color: var(--lblue);
  text-shadow: 0 0 5px var(--blue);
  text-align: center;
  margin-bottom: 40px;
}
.neon{
  position: absolute;
  margin: 0;
  font-size: 30px;
  text-align: center;
  color: var(--lblue);
  text-shadow: 0 0 20px var(--blue);
  animation:vib 3s infinite;
}
.namdiv{
  padding: 15px;;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-container{
  height: 360px;
}
.contact1{
  width: 360px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-inputs{
  background-color: var(--dblue);
  margin: 10px;
  width: 360px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-size: 18px;
  font-weight: 500;
  color: var(--blue);
  border-radius: 5px;
}
.comtact-left textarea{
  height: 140px;
  padding-top: 15px;
  line-height: 29px;
  border-radius: 5px;
}
.contact-inputs:focus{
  border: 2px solid var(--blue);
}
.btn,
.comtact-left button{
  padding: 13px 28px;
  font-size: 17px;
  font-weight: 800;
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 5px;
  background-color: var(--black);
  cursor: pointer;
  margin-left:10px;
}
.btn:hover,
.comtact-left button:hover{
  color: var(--black);
  background-color: var(--blue);
}
.contact3{
  width: 360px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.contact3 div,
.contact3 nav{
  width: 100%;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.contact3 div i{
  color: var(--blue);
  font-size: 30px;
}
.contact3 nav a i{
  color: var(--blue);
  border-radius: 50%;
  font-size: 25px;
  border: 2px solid var(--blue);
  padding: 12px;
  margin: 15px;
}
.contact3 div span{
  color: var(--blue);
  font-size: 20px;
  margin: 5px;
}
.head{
  width: 100%;
  display: flex;
  justify-content: center;
}
.skill label{
  color: var(--lblue);
  font-size: 20px;
  text-shadow: 0 0 5px var(--blue);
}
